* {
  margin: 0;
  padding: 0;
}

body {
  /* overflow-x: hidden; */
  background-color: #fbfbf6;
  height: auto;
  color: #00006C;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  font-size: 20px;
}

h1 {
  font-size: 50px;
  font-weight: 600px;
}


nav {
  /* height: 100px; */
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 0px 9px rgb(91, 89, 89);
  padding: 20px;
  color: #00006C;
}

nav h1 {
  font-size: 50px;
  margin-left: 0;
}

nav span {
  color: orange;
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 15px;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 550;
  position: relative;
  color: #00006C;
}

nav ul li a::after {
  content: '';
  width: 0;
  height: 3px;
  background: #36454F;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
  color: #00006C;
}

nav ul li a:hover::after {
  width: 100%;
  background-color: #00006C;
}

.header-text {
  margin-top: 20%;
  font-size: 30px;
}

.btn {
  border: none;
  height: 35px;
  width: 100px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-size: 16px;
  background-color: orange;
  transition: ease-in-out .5s;
}

.btn:hover {
  box-shadow: 0px 0px 2px #000000;
  background-color: #36454F;
  color: white;
  font-size: 14px;
  border: none;
  transition: ease-in-out .5s;
}

nav {
  width: 94%;
  padding-left: 3%;
  padding-right: 3%;
  /* border: 2px solid yellowgreen; */
}

.home,
.work,
.services,
.about,
.contact {
  width: 89.999%;
  padding-left: 5%;
  padding-right: 5%;
  /* margin-top: 10%; */
  /* margin-bottom: 10%; */
  height: 700px;
  padding-top: 10%;
  /* padding-bottom: 5%; */
}

/* HOME */
.home {
  /* border: 3px solid red; */
  /* margin-top: 7%; */
  display: flex;
  align-items: center;
}

.home-boxx {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding: 70px; */
  /* margin-top: 12.5%; */
  /* border: 1px solid black; */
}

.home-boxx img {
  height: 350px;
  border-radius: 100%;
}

.home-box {
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  justify-content: center;
  /* height: 100%; */
}

.home h1,
.home h2 {
  font-size: 70px;
  font-weight: 600;
  line-height: 90px;
}

.home p {
  font-size: 28px;
  margin-top: 0;
}

.socials {
  display: flex;
  margin-top: 0;
}

.socials i {
  font-size: 40px;
  margin: 10px;
  /* border: 1px solid black; */
  padding: 5px;
  border-radius: 50%;
  transition: ease-in-out 0.4s;
}

.socials i:hover {
  box-shadow: 0px 4px 9px gray;
  transition: ease-in-out 0.4s;
  transform: translateY(-3px);
  color: orange;
}

/* WORK */
.work {
  background-color: #fff;
  /* border: 3px solid yellowgreen; */
}

.gridd,
.gridd1 {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  column-gap: 3%;
  padding: 20px;
}

.gridd1 {
  margin-top: 5%;
}

.first {
  row-gap: 2%;

}

.second {
  row-gap: 2%;

}

.card {
  height: 210px;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  cursor: pointer;
  border-radius: 10px;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 176, 155, 0.5), rgba(150, 201, 61, 1));
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
  border-radius: 10px;
}

.card:hover::before {
  opacity: 1;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.card .info {
  position: relative;
  z-index: 3;
  color: black;
  opacity: 0;
  transform: translateY(20px);
  transition: 0.5s all;
  top: 9;
  width: 90%;
  height: 70%;
  padding-left: 5%;
  padding-right: 5%;
}

.card:hover .info {
  opacity: 3;
  transform: translateY(20px);
}

.card .info h1 {
  margin: 0;
}

.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 25px;
}


/* SERVICES */

.services-paragraph-box p {
  width: 50%;
  margin-left: 20%;
}

.service-box {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border: 1px solid black; */
  padding: 25px;
  gap: 50px;
}

.service-box1 {
  background-color: white;
  box-shadow: 0px 0px 9px rgb(41, 40, 40);
  height: 450px;
  border-radius: 20px;
  width: 30%;
  padding: 25px;
}

h5 {
  font-size: 40px;
  color: orange;
  height: 25%;
}

.service-box1 h1 {
  font-size: 40px;
  margin-bottom: 2%;
  margin-top: 10%;
  height: 25%;
}

.service-box1 p {
  font-size: 18px;
  font-size: thin;
  height: 38%;
  color: black;
}

/* ABOUT*/
.about {
  background-color: white;
}

.about-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid red; */
  /* padding: 40px; */
  padding-top: 40px;
  padding-bottom: 40px;
  gap: 20px;
}

.about-box img {
  height: 500px;
}

.skills-n-edu {
  margin-top: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* CONTACT */
.contact {
  margin-bottom: -1%;
  /* margin-top: -13%; */
}

.contact-main-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 3%;
}

.contact-box {
  background-color: rgb(60, 59, 59);
  display: flex;
  flex-direction: row;
  border-radius: 9px;
  gap: 10px;
  height: 510px;
  width: 600px;
  padding: 15px;
  color: white;
  font-weight: 600;
  padding: 20px;
}

.c-box {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.label-n-input {
  display: flex;
  flex-direction: column;
}

.label-n-input input {
  width: 270px;
  height: 20px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  outline: none;
}

.cc-box {
  display: flex;
  flex-direction: column;
}

.cc-box textarea {
  border-radius: 5px;
  height: 220px;
  margin-top: 10px;
  outline: none;
  padding: 10px;
}

.edwardthe3rd {
  margin: 3px;
}


/* FOOTER */
footer {
  height: 110px;
  background-color: white;
}

footer p {
  text-align: center;
  padding-top: 2%;
}